<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gavà Facilities Occupation</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="filter-container">
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" name="start-date">

        <label for="end-date">End Date:</label>
        <input type="date" id="end-date" name="end-date">

        <label for="facility-selector">Select Facility:</label>
        <select id="facility-selector">
            <option value="all">All Facilities</option>
            <!-- Options will be populated by JavaScript -->
        </select>

        <div class="time-frame-selector">
            <button id="last-week">Last Week</button>
            <button id="last-month">Last Month</button>
            <button id="last-year">Last Year</button>
        </div>

        <button id="filter-button">Filter</button>
    </div>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
    <script src="/static/js/chart-setup.js"></script>

</body>

</html>